/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.head > img,
p {
  position: absolute;
}

.logo {
  margin: 16px 1057px 40px 68px;
}

p {
  width: 74px;
  height: 11px;

  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  color: #ffe394;
}

.part_1 {
  margin: 33px 51px 44px 354px;
}
.part_2 {
  margin: 33px 51px 50px 466px;
}
.part_3 {
  margin: 33px 51px 50px 568px;
}
.part_4 {
  width: 183px;
  margin: 33px 51px 50px 679px;
}
.part_5 {
  margin: 33px 51px 50px 880px;
}
.part_6 {
  margin: 33px 51px 50px 973px;
}

.eng_img {
  margin: 30px 50px 50px 1195px;
}

.eng {
  margin: 33px 44px 46px 1189px;
}

.main > img,
p {
  position: absolute;
}

.background {
  width: 1299px;
  height: 613px;
  margin: 70px -0px 50px 0px;
}
.background_1 {
  opacity: 0.2;
  width: 1299px;
  height: 613px;
  margin: 70px -0px 50px 0px;
}

.building {
  margin: 100px 50px 50px 66px;
}

.header {
  position: absolute;
  width: 455px;
  height: 54px;
  margin: 130px 50px 50px 398px;
  font-family: "opensans";
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  color: #35040c;
}

.button_background {
  margin: 217px 35px 28px 578px;
  opacity: 1;
  position: relative;
  border-bottom: 8px solid rgb(191, 103, 13, 1);
  border-bottom-left-radius: 27%;
  border-bottom-right-radius: 26%;
}

.button_text {
  position: absolute;
  width: 163px;
  height: 23px;
  margin: -70px 28px 50px 594px;
  font-family: "minionpro-bold";
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #030303;
}

.building {
  border: solid #35050d;
}

.right {
  margin: -34px 50px 50px 94px;
}

.left {
  margin: -34px 50px 50px 1147px;
}

.ellipse_white_1 {
  margin: 120px 50px 50px 631px;
}

.ellipse_brown {
  margin: 120px 50px 50px 651px;
}

.ellipse_white_2 {
  margin: 120px 50px 50px 671px;
}

.content_1 {
  position: absolute;
  width: 276px;
  height: 64px;

  font-family: "minionpro-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #060606;
  margin: 171px 50px 50px 61px;
}

.content_1_01 {
  position: absolute;
  width: 259px;
  height: 135px;

  font-family: "minionpro-regular";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #010101;
  margin: 255px 50px 50px 61px;
}

.content_2 {
  position: absolute;
  width: 284px;
  height: 65px;

  font-family: "minionpro-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #030303;
  margin: 171px 50px 50px 366px;
}

.content_2_01 {
  position: absolute;
  width: 257px;
  height: 158px;

  font-family: "minionpro-regular";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #070707;
  margin: 255px 50px 50px 364px;
}

.content_3 {
  position: absolute;
  width: 287px;
  height: 89px;

  font-family: "minionpro-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #050505;
  margin: 171px 50px 50px 671px;
}

.content_3_01 {
  position: absolute;
  width: 252px;
  height: 159px;

  font-family: "minionpro-regular";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #050505;
  margin: 255px 50px 50px 662px;
}

.content_4 {
  position: absolute;
  width: 249px;
  height: 63px;

  font-family: "minionpro-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #060606;
  margin: 171px 50px 50px 953px;
}

.content_4_01 {
  position: absolute;
  width: 276px;
  height: 133px;

  font-family: "minionpro-regular";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #050505;
  margin: 255px 50px 50px 951px;
}

.footer_background {
  margin: 386px 0px -2px 0px;
}

.site {
  margin: -30px 50px 50px 64px;
}

.adress {
  margin: -44px 50px 50px 362px;
  text-align: left;
  width: 159px;
}

.mobile {
  margin: -52px 50px 50px 666px;
  text-align: left;
  width: 175px;
}

.mobile_next {
  margin: -30px 50px 50px 693px;
  text-align: left;
  width: 175px;
}

.email {
  margin: -45px 50px 50px 963px;
  text-align: left;
}

.facebook {
  margin: -44px 50px 50px 1172px;
  position: absolute;
}

.vk {
  position: absolute;
  margin: -44px 50px 50px 1211px;
}
