html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
}
header {
  background-color: black;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 5;
}
.logo-icon {
  width: 3%;
  height: 3%;
  margin-left: 2%;
  margin-top: 2%;
}

.mail-icon {
  width: 1.7%;
  height: 1.7%;
  margin-left: 63%;
}

.phone-icon {
  width: 1.7%;
  height: 1.7%;
  margin-left: 9.5%;
}

.mail {
  position: absolute;
  width: 13%;
  height: auto;

  font-family: "montserrat-regular";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin: -1.5% -5% 0% 70.4%;
}

.phone {
  position: relative;
  width: 13%;
  height: auto;

  font-family: "montserrat-regular";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin: -1.5% -5% 0% 81.4%;
}

.log-in {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #135ec5;
  margin: 0.4% 2% 1% -6%;
  position: absolute;
  transition: 0.3s;
}

.button {
  margin: -2% -78% 0% 90%;
}

.log-in:hover {
  color: aquamarine;
}

.button-icon {
  margin-top: -1%;
}

.mercedes {
  margin-left: 5%;
  margin-top: 5%;
}

.mercedes-photo {
  background-color: black;
}

.headline {
  position: absolute;
  width: 220px;
  height: 18px;

  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin: 0% 0px 0px 45%;
}
.properties {
  position: relative;
  display: inline-block;
  width: 8%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #3c3c3c;
  margin-top: 4%;
  margin-left: 21%;
  margin-right: -7%;
  background-color: #131210;
  box-shadow: 1px 1px 6px #3a3834;
}
.list {
  background-color: black;
}

.search {
  text-transform: uppercase;
  position: relative;
  width: 67px;
  height: 13px;

  font-family: "montserrat-bold";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin: -24px 0px 0px 81.3%;
}

.box1 {
  margin-left: 10%;
  margin-bottom: -1%;
}

.quote {
  position: absolute;
  width: 7%;
  height: auto;
  font-family: "montserrat-regular";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #c1c1c1;
  margin-left: 49%;
  margin-top: 2%;
}

.icons {
  width: 3%;
  margin-left: 14.8%;
  margin-top: 5%;
  margin-right: -5%;
}

.bmw-series-img {
  position: absolute;
  z-index: 2;
}

.bmw-model {
  position: absolute;
  width: 5%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 144px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: white;
  text-shadow: 2px 1px 5px #c4c4c4;
  text-transform: uppercase;
  z-index: 1;
  margin-top: -1%;
}

.bmw-series:last-child {
  margin: 9%;
}

#bmw-model {
  margin: 10%;
}

.bmw-series-headline {
  position: absolute;
  width: 23%;
  height: 47px;
  font-family: "montserrat-bold";
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #135ec5;
  margin: 4% 0% 5% 57%;
}

.bmw-series {
  margin: 5% 5% 5% 5%;
}

.bmw-series-text {
  position: absolute;
  width: 40%;
  height: auto;
  font-family: "opensans";
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #c1c1c1;
  margin: 12% 5% 5% 57%;
}

.bmw-series-button-text {
  position: absolute;
  width: 10%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: white;
  margin: 1.5% 0% 0% -12%;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}

.bmw-series-button-text:hover {
  color: #610aa8;
}

.bmw-series-button {
  padding: 19% 5% 5% 57%;
}

.add-your-announcement-button {
  padding: 14% 5% 5% 42%;
}
.add-your-announcement {
  background-color: #135ec5;
  transition: 0.3s;
}

.add-your-announcement:hover {
  background-color: #0e458e;
}
.add-your-announcement-header {
  position: absolute;
  width: 50%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: white;
  margin: 7% 5% 5% 27%;
}

.add-your-announcement-photo {
  margin: -2% 5% -7% 27%;
}

.add-your-announcement-link {
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  width: 85px;
  height: 13px;

  font-family: "montserrat-bold";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin: 1.3% 0% 0% -9.1%;
  transition: 0.3s;
}

.add-your-announcement-link:hover {
  color: #3a3834;
}

.ad-small {
  margin: 6% 5% 5% 5%;
}

.ad-small-header {
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  width: 29.09%;
  height: 26%;
  font-family: "montserrat-bold";
  font-size: 140px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #176ac9;
  background-color: #135ec5;
  margin: 10% 56% 0% 0%;
}

.ad-small-img {
  margin: 3% 0% -30% 3%;
  z-index: 3;
  position: relative;
}

.ad-small-name1-car {
  position: absolute;
  width: 8%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #135ec5;
  margin: 34.5% 0% 0% 7%;
}
.ad-small-name-car {
  position: absolute;
  width: 328px;
  height: 23px;
  font-family: "montserrat-bold";
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #000000;
  margin: 32% 5% 5% 1.3%;
}

.ad-small-info {
  position: absolute;
  width: 15%;
  height: auto;
  font-family: "montserrat-regular";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #c1c1c1;

  margin: 38% 5% 5% 5%;
}

.ad-small-price {
  position: absolute;
  width: 5%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #16ad2c;
  margin: 42% 5% 5% 3%;
}

.ad-small-button-text {
  position: absolute;
  width: 7%;
  height: auto;

  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  margin: 1% 5% 5% -10%;
  transition: 0.3s;
}

.ad-small-button-text:hover {
  color: #3a3834;
}

.ad-small-button {
  margin: 45% 5% 5% 13%;
}

.ad-small-button2-text {
  position: absolute;
  width: 5%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #135ec5;
  text-transform: uppercase;
  text-decoration: none;
  margin: 14% 5% 5% -55%;
}

.ad-small-button2 {
  margin: -37% 5% 5% 22%;
  position: absolute;
}

.ad-small-button2-img {
  width: 76%;
}

.ad-bigger {
  overflow: hidden;
  position: relative;
  width: 700px;
  height: 617px;
  margin: -42% 5% 5% 49%;
  box-shadow: 3px 12px 15px #7c7c7c, -1em 0 10.4em #7c7c7c;
}
.ad-bigger-img {
  margin: 22% 0% -6% -53%;
  position: absolute;
  position: absolute;
  height: 359px;
  z-index: 2;
}

.ad-bigger-background {
  width: 654px;
  height: 686px;
}

.rectangle {
  width: 58%;
  height: 101%;
  background: #135ec5;
  margin: -99% 5% 5% 56%;
  z-index: 1;
  position: absolute;
}

.ad-bigger-cars {
  position: absolute;
  width: 13%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #e2e2e2;
  margin: -93% 5% 5% 6%;
}

.ad-bigger-price {
  position: absolute;
  width: 118px;
  height: 26px;
  font-family: "montserrat-bold";
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #16ad2c;
  margin: -94% 5% 5% 38%;
}

.ad-bigger-name {
  position: absolute;
  width: 41%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #135ec5;
  margin: -72% 5% 5% 5%;
}

.ad-bigger-description {
  position: absolute;
  width: 40%;
  height: 157px;
  font-family: "opensans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #c1c1c1;
  margin: -62% 5% 5% 5%;
  line-height: 190%;
}

.ad-bigger-button-order {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: -30% 0% 0% 4%;
  padding: -1% 0% 0% 0%;
  position: absolute;
  width: -1%;
  transition: 0.3s;
}
.ad-bigger-button-order-link {
  transition: 0.3s;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 9% 0% 0% -68%;
  padding: -1% 0% 0% 0%;
  position: absolute;
  width: -1%;
}
.ad-bigger-button-order-link:hover {
  color: #131210;
}

.ad-bigger-button {
  margin: -94% 0% 0% 81%;
  position: relative;
  z-index: 3;
}

.ad-bigger-button-img {
  width: 86%;
}

.ad-bigger-button-link {
  position: absolute;
  width: 5%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #135ec5;
  text-decoration: none;
  text-transform: uppercase;
  margin: 6% 5% 5% -59%;
  transition: 0.3s;
}

.ad-bigger-button-link:hover {
  color: #610aa8;
}

.form-adress-background {
  margin: 13% 0% 0% 2%;
  margin: 13% 0% 0% 2%;
  box-shadow: 3px 12px 15px #7c7c7c, -1em 0 10.4em #7c7c7c;
}

.search-id {
  border: none;
  border-bottom: 1px solid;
  width: 20%;
}

.search-make {
  color: #9e9e9e;
  margin: -1% 0% 0% -18%;
  position: absolute;
  width: 48px;
  height: 15px;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #c1c1c1;
}

.search-city {
  border: none;
  border-bottom: 1px solid;
  width: 85%;
}
.search-city-label {
  margin: -0.3% 0% 0% -19%;
  position: absolute;
  width: 9%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: black;
}

.form-make {
  margin: -54% 5% 5% 5%;
}

.form-city {
  margin: -6.89% 0% 0% 24%;
  width: 22%;
}

.form-city-pin {
  margin-left: -5%;
}

.form-category {
  margin: -1.3% 5% 5% 44%;
}

.search-category {
  margin: -1% 0% 0% -17.5%;
  position: absolute;
  width: 48px;
  height: 15px;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #c1c1c1;
}

.search-category-link {
  border: none;
  border-bottom: 1px solid;
  width: 34%;
}

.search-keywords {
  margin: -1% 0% 0% -15.1%;
  position: absolute;
  width: 48px;
  height: 15px;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #c1c1c1;
}

.search-keywords-link {
  border: none;
  border-bottom: 1px solid;
  width: 48%;
}

.form-keywords {
  margin: -6.3% 5% 5% 63%;
}

.line {
  margin-left: 2%;
  width: 96.3%;
  opacity: 0.1;
  position: relative;
  z-index: 4;
  border-bottom: solid;
}

.emblems-1 {
  margin-left: -12%;
}

.search-price-label {
  position: absolute;
  width: 6%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #c1c1c1;
  margin-left: -18%;
  margin-top: -1%;
}

.form-price {
  margin: 10% 5% 5% 4%;
}

.form-to {
  margin: -6.3% 5% 5% 24.1%;
}
.search-to {
  margin: -6.3% 5% 5% 24%;
}

.search-price {
  margin: 5% 5% 5% 5%;
}

.search-to-label {
  position: absolute;
  width: 6%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #c1c1c1;
  margin-left: -18.3%;
  margin-top: -1%;
}

.form-to-id {
  border: none;
  border-bottom: 1px solid;
  width: 26%;
}

.form-years {
  margin: -6.2% 5% 5% 44%;
}

.form-years-id {
  border: none;
  border-bottom: 1px solid;
  width: 35%;
}

.form-years-label {
  position: absolute;
  width: 6%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #c1c1c1;
  margin-top: -1%;
  margin-left: -18.3%;
}

.form-to-2 {
  margin: -6.2% 5% 5% 63%;
}

.form-to-2-label {
  position: absolute;
  width: 6%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #c1c1c1;
  margin-top: -1%;
  margin-left: -15.3%;
}

.form-to2-id {
  border: none;
  border-bottom: 1px solid;
  width: 49%;
}

.advanced-search-link {
  position: absolute;
  width: 13%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin: 1.2% 0% 0% -11.7%;
  z-index: 3;
  text-decoration: none;
  transition: 0.3s;
}

.advanced-search-link:hover {
  color: #3c3c3c;
}

.advanced-search {
  margin: 5% 5% 5% 41%;
}

.rectangle-footer {
  margin: -6.8% 5% 5% 2%;
  position: absolute;
  width: 96.3%;
  height: 52%;
  background: #135ec5;
}

.transmission-input {
  border: none;
  border-bottom: 1px solid;
  width: 160%;
  background-color: #135ec5;
}

.transmission-label {
  position: absolute;
  width: 6%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: white;
  margin-left: -1.3%;
  margin-top: -20%;
}

.transmission {
  margin: 0% 5% 5% 5%;
  position: absolute;
}

.fuel-input {
  border: none;
  border-bottom: 1px solid;
  width: 18.4%;
  background-color: #135ec5;
  position: absolute;
}

.fuel-label {
  position: absolute;
  width: 6%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: white;
  margin-left: -0.1%;
  margin-top: -1%;
  opacity: 0.25;
}

.fuel-type {
  margin: 0% 5% 5% 24.3%;
}

.drive-type {
  margin: 5% 5% 5% 44.8%;
}

.cylinders {
  margin: 5% 5% 5% 64.2%;
}

.power {
  margin: 9% 5% 5% 5.1%;
  position: absolute;
  width: 25.5%;
}

.power-input {
  border: none;
  border-bottom: 1px solid;
  background-color: #135ec5;
  position: absolute;
  width: 69%;
}

.power-label {
  position: absolute;
  width: 6%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: white;
  margin-left: -1.3%;
  margin-top: -4%;
}

.engine-size {
  margin: 0% 5% 5% 5%;
  padding: 9% 5% 5% 20%;
}

.engine-input {
  border: none;
  border-bottom: 1px solid;
  background-color: #135ec5;
  position: absolute;
  width: 17.8%;
}

.engine-label {
  position: absolute;
  width: 6%;
  height: auto;
  font-family: "montserrat-bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: white;
  margin-top: -1%;
  opacity: 0.25;
}

.towing {
  margin: -10% 5% 5% 45%;
}

.induction {
  margin: 5% 5% 5% 64%;
}

.button-search {
  position: absolute;
  margin: 5% 5% 5% 44%;
}

.button-search-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #135ec5;
  margin: 14% 5% 5% -78%;
  position: absolute;
  font-weight: bold;
}
