a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
  color: #0bbb26;
}

h6 {
  margin-top: 19%;
  margin-left: -23%;
}

header {
  display: flex;
  background: rgba(0, 0, 0, 1);
  position: sticky;
  top: 0;
  z-index: 4;
}

.banner {
  margin-left: 4%;
  margin-top: 2%;
}

.container {
  margin-top: 4%;
  margin-left: 6%;
}

.social > img {
  margin-left: 6%;
}

form {
  background: rgba(0, 0, 0, 0.76);
  width: 31%;
  margin-left: 61%;
  margin-top: 12%;
}

.form-headline {
  color: white;
  font-size: 37px;
  text-align: center;
  font-weight: 300;
  width: 101%;
}

.form-input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: solid white;
  color: white;
  margin-top: 25px;
  width: 82%;
}

label {
  color: white;
  position: absolute;
}

.form-label {
  transition: 0.3s;
  left: 73%;
  margin-top: 21px;
}
.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
  margin-top: 5px;
  font-size: 12px;
}

form > button {
  background: #0aa321;
  border-radius: 4px;
  margin-top: 25px;
  width: 54%;
  margin: 5% 0% 3% 2%;
}

.form-group {
  margin-left: auto;
  margin-right: auto;
  width: 14em;
}

.header-main {
  background: url("./img/Слой 5.png");
  background-size: cover;
}
/*
main {
  background: url("./img/Слой 5.png");
  background-size: cover;
  height: 724px;
  margin-top: -8%;
  padding-top: 5%;
}
*/
.discription {
  position: absolute;
  width: 34%;
  height: auto;

  font-family: "adobeinvisfont";
  font-size: 240%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #020202;
  margin-top: 13%;
  margin-left: 30%;
}

.discription-img > img:nth-child(1) {
  margin-top: 18%;
  margin-left: 11%;
}

.discription-img > img:nth-child(2) {
  margin-top: 14%;
  margin-left: -24%;
}

.discription-img {
  padding-top: 5%;
}

.information {
  width: 36%;
  font-size: 121%;
  margin-top: -14%;
  margin-left: 38%;
}

.information-link {
  position: absolute;
  width: 14%;
  height: auto;
  font-family: "adobeinvisfont";
  font-size: 171%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #099b1f;
  margin-left: 35%;
}

.content-2 {
  background-color: silver;
  margin-top: 10%;
}

.imgs {
  margin-left: 7%;
}

.services {
  width: 100%;
  height: auto;
  font-family: "adobeinvisfont";
  font-size: 317%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #fffefe;
}

p {
  font-size: 27px;
  font-weight: 200;
}

footer {
  background-color: black;
}

.main-page {
  background: url("./img/Слой 5.png");
  background-size: cover;
  height: 789px;
  margin-top: -8%;
  padding-top: 5%;
}

.footer-a {
  margin-left: 5%;
}

.footer-a-1 {
  margin-left: -19%;
}

.container-fluid {
  padding-left: 51%;
  margin-top: -2%;
}

footer > img:nth-child(1) {
  object-fit: contain;
}

.footer-links {
  display: flex;
}

.social-media {
  display: flex;
}

.social-media > p:nth-last-child(1) {
  position: absolute;
  width: 31%;
  height: auto;
  font-family: "adobeinvisfont";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #fffefe;
  margin-left: 68%;
  margin-top: 2%;
}
.networks {
  margin-top: 1%;
  width: 8%;
  border: white solid;
  border-radius: 7%;
}
