html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu {
  display: grid;
  grid-template-columns: 66px 65px 92px 88px 49px 46px 26px;
  margin-left: 56%;
  margin-top: 2%;
}
header {
  padding-top: 1%;
  color: white;
  background-image: url(./img/Layer2.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 55vw;
  background-size: 100%;
}
.menu-content {
  display: grid;
  width: 75px;
  height: 16px;

  font-family: "impact";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.button-menu > a {
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
  border: 1px solid white;
}

.menu > img {
  width: 18px;
  height: 11px;
  margin: 18% 5% 5% 5%;
}

.button-menu {
  margin-left: 88%;
  margin-top: -1%;
}

.button-menu > img {
  margin-left: -1%;
}
.banner p:nth-child(1) {
  width: 138.1px;
  height: 35.2px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.7rem;
}
.banner p:nth-child(2) {
  width: 162.1px;
  height: 35.2px;
  color: white;
  text-transform: uppercase;
  margin-top: 1%;
  text-align: justify;
}

.banner {
  margin: -3% 0% 0% 3%;
}

.headline > h1 {
  font-size: 17px;
  font-weight: 900;
  font-style: normal;
  color: #d596ba;
}

.headline > p:nth-child(2) {
  font-size: 33px;
  font-weight: 900;
  font-style: normal;
  color: white;
  width: 285px;
}

.headline > p:nth-child(3) {
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  color: #95165b;
  margin-top: 1%;
}

.headline {
  margin-left: 52%;
}
.headline-button {
  margin: 3% 0% 0% 52%;
}

.headline-button > a {
  text-decoration: none;
  position: absolute;
  color: #ffffff;
  font-size: 27px;
  margin: 1.4% 0% 0% 1%;
}

.headline-button > div {
  width: 200px;
  height: 65px;
  background: red;
}

.background {
  width: 419px;
  height: 546px;
  background: white;
  margin: -2% 5% 5% 5%;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 11px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.banner-section {
  display: block;
  padding-left: 50px;
}
.banner-section-img {
  margin: -43% 5% 5% 5%;
  position: absolute;
}
main {
  background-color: #a99494;
  display: flex;
  height: 800px;
}
.banner-headline {
  position: absolute;
  width: 270px;
  height: 79px;
  font-family: "arialmt";
  font-size: 37px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: black;
  margin: -27% 5% 5% 5%;
}

.banner-rectangle {
  position: absolute;
  width: 123px;
  height: 10px;
  background: rgba(214, 12, 24, 1);
  margin: -23% 5% 5% 5%;
}

.banner-text {
  position: absolute;
  width: 288px;
  height: 79px;
  font-family: "arialmt";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: black;
  margin: -20% 5% 5% 5%;
}

footer > a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin: 6% 5% 5% 82%;
  padding-top: 29px;
  display: inline-block;
}

.footer {
  display: block;
  height: 700px;
  text-align: right;
}

.footer-rectangle {
  position: absolute;
  width: 37px;
  height: 529px;
  background: black;
  margin: -14.58% 5% 5% 97.59%;
}

.footer-rectangle-2 {
  position: absolute;
  width: 100%;
  height: 496px;
  background: black;
  margin: 20% 0% 0% 0%;
}
