html {
  font-family: "Roboto", sans-serif;
}

.hat {
  width: 752px;
  position: absolute;
  height: 237px;
  background: rgba(45, 112, 83, 1);
}

.ellipse {
  float: left;
  width: 144px;
  height: 144px;
  margin: 53px 37px 47px 57px;
}

.heading {
  width: 25%;
  height: 131px;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  float: left;
  margin: 53px 0px;
}

.rectangle {
  margin: 83px 44px 0px 184px;
  float: left;
}

.rectangle_1 {
  margin: 3px 44px 0px 184px;
  float: left;
}

.rectangle_2 {
  margin: 3px 44px 0px 184px;
  float: left;
}

.room {
  width: 752px;
  height: 470px;
  margin: 211px 0px 0px 0px;
}

.button {
  margin: -120px 216px 25px 195px;
}

.main {
  width: 752px;
  height: 470px;
  margin: 211px 0px;
}

.button2 {
  position: absolute;
  width: 251px;
  height: 17px;
  margin: -74px 237px 56px 269px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
}

.photo {
  border-radius: 50%;
  height: 276px;
  width: 255px;
  overflow: hidden;
  position: absolute;
  top: 759px;
  left: 43px;
}

.name {
  margin: 76px 33px 14px 362px;
}

.bio {
  margin: 11px 50px 50px 362px;
}

.text {
  position: absolute;
  width: 590px;
  height: 166px;
  margin: 187px 42px 0px 50px;
  font-size: 24px;
  font-weight: 400;
}

.reasons {
  width: 588px;
  height: 32px;
  margin: 477px 21px 52px 50px;
  font-size: 36px;
  font-weight: 400;
}

.list {
  position: absolute;
  width: 256px;
  height: 190px;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #000000;
  margin: 3px 39px 37px 52px;
}

.button_2 {
  margin: 600px 50px 50px 50px;
}

.ellipse2 {
  position: absolute;
  width: 99px;
  height: 99px;
  margin: 29px 50px 50px -710px;
}

.number {
  position: absolute;
  width: 159px;
  height: 15px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin: -96px 52px 19px 559px;
}

.email {
  position: absolute;
  width: 144px;
  height: 17px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin: -53px 11px 111px 556px;
}

.adress {
  position: absolute;
  width: 219px;
  height: 17px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin: -52px 56px 55px 299px;
}
