header {
  display: flex;
}

header > a {
  margin-left: 1%;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  height: 24px;
  margin: 24px 0 0 29px;
}

header > a:hover {
  color: gray;
}
header > img:nth-child(1) {
  padding-right: 11%;
}
.ellipse {
  width: 2em;
  height: 2em;
  background: silver;
  border-radius: 50%;
  margin-left: 2%;
  margin-top: 16px;
}

header > img:nth-last-child(1) {
  height: 10px;
  width: 14px;
  margin: 29px 0 0 6px;
}

.navigation {
  margin-top: -85px;
  margin-left: 22px;
  width: 278px;
}

h1 {
  margin-top: 57px;
  margin-left: 21px;
}

.rectangle {
  position: absolute;
  width: 914px;
  height: 355px;
  background: silver;
  margin-top: -46px;

  margin-left: 89px;
}
main {
  display: flex;
}

.content {
  margin-top: 345px;
  margin-left: 90px;
}

.rectangle-img {
  position: absolute;
  margin-left: 448px;
}

.content > p {
  margin-top: 25px;
  margin-bottom: 34px;
  font-size: 15px;
  color: #303030;
}

footer {
  display: flex;
  margin-top: 37px;
}

footer img:nth-child(1) {
  margin-right: 247px;
}

.item {
  margin-right: 150px;
}

.phone p:nth-last-child(1) {
  margin-left: 31px;
  margin-top: -9px;
}

.footer-img {
  height: 32px;
  margin-top: 23px;
}
