body {
  background-color: #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100ph;
}

.form {
  width: 100%;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0px 1px 6px black;
  background-color: white;
  font-family: sans-serif;
  letter-spacing: 1px;
  transition: 0.3s;
}

.form:hover {
  background-color: #e8e8e8;
}
input[name="login"],
input[name="password"] {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #8e8e8e8e;
  background-color: transparent;
  outline: none;
}

.head {
  text-align: center;
  margin-bottom: 32px;
  font-weight: normal;
}

.login {
  position: relative;
  margin: 16% 8% 0% -16%;
  transition: 0.3s;
}

input[name="submit"] {
  width: 210px;
  height: 42px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #0071f0;
  outline: none;
  cursor: pointer;
  margin: 52px -2px 0px 154px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
}

input[name="submit"]:hover {
  color: azure;
  width: 252px;
}
.description {
  margin-top: 22%;
}

.p-login {
  margin-top: 13%;
}
